.topic:hover {
  box-shadow: 2px 2px 5px 5px rgb(0, 0, 0, 0.3);
  transition: box-shadow 1s;
  animation: slide 0.5s ease;
}

@keyframes slide {
  0% {
    left: -5px;
  }
  80% {
    left: -10px;
  }
  100% {
    left: 0px;
  }
}
